body{
    font-size: 15px;
    line-height: 1.6;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
*, 
*:after, 
*:before{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
    margin: 29px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.intro{
    width: 100%;
    height: 100vh;
    background: url(../img/intro.jpg) center no-repeat;
    background-size: cover;
}
.nav{
    text-transform: uppercase;
    font-size: 14px;
}
.nav__link{
    display: inline-block; 
    vertical-align: top;
    margin: 40px 20px;
    text-decoration: none;
    color: #fff;
    transition: color .3s linear;
    position: relative;
}
.nav__link:after{
    opacity: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    transition: opacity .3s linear;
    left: 0;
    top: 100%;
}
.nav__link:hover{
    color: #fce38a;
}
.nav__link:hover:after{
    opacity: 1;
}
.title_box{
    height: 280px;
    width: 300px;
}
.sup__title{
    font-family: 'Neonderthaw', cursive;
    font-size: 72px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
.logo_title{
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: ;
    color: #fff;
}